.maze-game-survey {
    padding: 30px 40px;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    width: 50%;
  }
  
  .survey-complete-label {
    margin: 10px 0px;
  }
  
  .maze-game-survey-btn {
    align-self: center;
  }
  